<header class="header">
  <div class="header__logo-box">
    <img class="header__logo" src="../../../assets/img/logo-white.png" alt="logo-white">
  </div>
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">{{user.name}}</span>
      <span class="heading-primary--sub">{{user.profession}}</span>
    </h1>
    <a href="javascript:void(0)" class="btn btn--white btn--animated">Resume</a>
  </div>
</header>
<section class="grid-test" [hidden]=hideGrid>
  <div class="row">
    <div class="col-1-of-2">Col 1 of 2</div>
    <div class="col-1-of-2">Col 1 of 2</div>
  </div>
  <div class="row">
    <div class="col-1-of-3">Col 1 of 3</div>
    <div class="col-1-of-3">Col 1 of 3</div>
    <div class="col-1-of-3">Col 1 of 3</div>
  </div>
  <div class="row">
    <div class="col-1-of-3">Col 1 of 3</div>
    <div class="col-2-of-3">Col 2 of 3</div>
  </div>
  <div class="row">
    <div class="col-1-of-4">Col 1 of 4</div>
    <div class="col-1-of-4">Col 1 of 4</div>
    <div class="col-1-of-4">Col 1 of 4</div>
    <div class="col-1-of-4">Col 1 of 4</div>
  </div>
  <div class="row">
    <div class="col-1-of-4">Col 1 of 4</div>
    <div class="col-1-of-4">Col 1 of 4</div>
    <div class="col-2-of-4">Col 2 of 4</div>
  </div>
  <div class="row">
    <div class="col-1-of-4">Col 1 of 4</div>
    <div class="col-3-of-4">Col 3 of 4</div>
  </div>
</section>
<main>
  <section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">The Tech I work with</h2>
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <h3 class="heading-tertiary u-margin-bottom-small">Following things here</h3>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur debitis dolore dolores ducimus, earum eos esse expedita inventore ipsa labore laborum laudantium magnam modi molestiae reprehenderit, tenetur veritatis vero.</p>
        <h3 class="heading-tertiary u-margin-bottom-small">Another heading here</h3>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur debitis dolore dolores ducimus, earum eos esse expedita inventore ipsa labore laborum laudantium magnam modi molestiae reprehenderit, tenetur veritatis vero.</p>
        <a href="#" class="btn-text">Learn more &rarr;</a>
      </div>
      <div class="col-1-of-2">Image computations</div>
    </div>
  </section>
</main>
