/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@font-face {
  font-family: lato;
  src: url(assets/fonts/Lato/Lato-Regular.ttf) format("opentype");
}
html {
  font-size: 10px;
}
body {
  font-family: lato, sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}